
<div class="animated fadeIn">
    <button type="button" class="btn btn-primary" [routerLink]="['/components/brand/0']">
            <i class="fa fa-plus">
                </i>&nbsp; Add Brand
                </button>
                <br />
    <div class="row">
        <div *ngFor="let brand of brandList" class="col-sm-6 col-md-4">
            <div class="card card-outline-secondary">

                <div class="card-block">
                    <a routerLinkActive="active" [routerLink]="['/components/brand/',brand.BrandID]"><img [src]="fullPath + brand.LogoUrl" /></a>
                </div>
            </div>
        </div>
    </div>
</div>